/* ProfileButton.module.css */
.profileContainer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
  }
  
  .profileButton {

    width: 120px;
    
  }
  
  .profileButton:hover {
    
  }
  
  .profileMenu {
    
  }
  
  .profileMenu ul {
  
  }
  
  .profileMenu ul li {
    
  }
  
  .profileMenu ul li:hover {
    
  }
  